body {
    background: #e6e6e6;
}
.main-header {
    background: #0066ff;
}
.main-menu a {
    color: #0066ff;
    font-size: 17px;
    padding: 10px 15px;
    background: #ffffff;
    margin-left: 5px;
}
.register-form {
    width: 100vh;
    height: 80vh;
    background: #ffffff;
    margin: 0 auto;
    border: 1px solid #707070;
}
.register-form label {
    font-size: 22px;
}
input[type="submit"]{
    text-align: center;
    width: 300px;

}